In [2]:
from pathlib import Path
import pandas as pd

# aktuelles Arbeitsverzeichnis vom Notebook
ROOT = Path.cwd().parent   # von notebooks/ nach project/

# Datenpfad zusammensetzen
DATA_DIR = ROOT / "data" / "202507-divvy-tripdata"
csv_file = DATA_DIR / "202507-divvy-tripdata.csv"

df = pd.read_csv(csv_file)

In [3]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,455D43BD91D73437,classic_bike,2025-07-05 17:15:08.456,2025-07-05 17:25:47.079,Lincoln Ave & Diversey Pkwy,CHI00285,Lincoln Ave & Addison St,CHI00478,41.932225,-87.658617,41.946176,-87.673308,member
1,9D4A6B723ECD98CA,classic_bike,2025-07-01 13:57:38.878,2025-07-01 14:06:35.780,Cottage Grove Ave & Oakwood Blvd,CHI00400,Cottage Grove Ave & 47th St,CHI00488,41.822985,-87.607100,41.809855,-87.606755,member
2,C57044CF523302ED,classic_bike,2025-07-31 16:49:28.142,2025-07-31 17:15:28.999,Theater on the Lake,CHI00420,Winthrop Ave & Lawrence Ave,CHI00391,41.926277,-87.630834,41.968812,-87.657659,member
3,AFD35552E6685B6E,electric_bike,2025-07-17 09:36:21.058,2025-07-17 09:46:54.706,Pine Grove Ave & Waveland Ave,CHI00354,Winthrop Ave & Lawrence Ave,CHI00391,41.949473,-87.646453,41.968812,-87.657659,member
4,C0582EBAA6CED519,classic_bike,2025-07-02 18:43:45.213,2025-07-02 18:57:06.687,Theater on the Lake,CHI00420,Sheffield Ave & Wellington Ave,CHI00274,41.926277,-87.630834,41.936253,-87.652662,member

In [5]:
df.shape

(763432, 13)

In [26]:
tmp = pd.concat([
    pd.DataFrame({"station_id": df["start_station_id"], "delta":  1}),
    pd.DataFrame({"station_id": df["end_station_id"],   "delta": -1}),
], ignore_index=True)

result = (
    tmp.groupby("station_id", as_index=False)["delta"].sum()
       .rename(columns={"delta": "difference"})
       .sort_values("difference", ascending=False))
print(result.head())
result.tail()

     station_id  difference
269    CHI00483         283
1098   CHI01745         253
131    CHI00345         245
1374   CHI02025         233
81     CHI00294         228

     station_id  difference
310    CHI00525        -219
457    CHI00674        -233
1424   CHI02078        -238
235    CHI00449        -325
1097   CHI01744        -382